#squares {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
}

#squares div {
  width: 29px;
  height: 29px;
  background-color: lightgray;
  border: 1px solid white;
  margin: 0px;
}

#squares div:hover {
  background-color: darkgray; /* Color change on hover */
}