body {
  display: flex;
  flex-direction: column; /* Align items in a vertical column */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  margin: 0;
  height: 100vh;
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  background-color: #FF0F39;
}

#headImage {
  width: 800px;
  height: auto;
  margin-top: 50px;
}

.controls {
  display: flex;
  gap: 20px; /* Spacing between buttons */
  margin-top: 30px;
  margin-bottom: 50px; /* Margin at the bottom of buttons */
}

button {
  padding: 10px 20px;
  border: 5px solid #e5f20d;
  border-radius: 5px;
  background-color: #FF0F39;
  color: white;
}

#squares {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
}

#squares div {
  width: 29px;
  height: 29px;
  background-color: lightgray;
  border: 1px solid white;
  margin: 0;
}

#squares div:hover {
  background-color: darkgray;
}

#eraser.active {
  background-color: #0e01cb; /* Change background color to indicate active state */
  color: white;
  border: 5px solid #e5f20d;
}